/* The CSS file for CSE Revue 2009 */

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

body {
	background-color: #000;
	color: #fff;
	font-family: "Arial", serif;

}

a {
	color: #f90;
	text-decoration: none;
}

a:visited {
	color: #f90;
}

a:hover {
	color: #f90;
}

.cseheader {
	margin: 15px 0 -70px 0;
	text-align: center;
}

.csecopy {
	font-size: 0.6em;
	text-align: center;
}

.loginfield input {
	border: 2px groove #f90;
	background-color: #000;
	color: #fff;
	width: 25em;
}

.loginsubmit input {
	background-color: #000;
	border-color: #f90;
	color: #fff;
}

.segment {
	background-color: #223;
	color: #fff;
}
