
/* The CSS file for Med Revue 2010 */


div#summary {
    border:2px solid red;
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 > img.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

body {
	background-color: #6bceec;
	color: #fff;
	font-family: "Arial", serif;

}

a {
	color: #244e5b;
	text-decoration: none;
}

a:visited {
	color: #244e5b;
}

a:hover {
	color: #73e0ff;
}

.cseheader {
	margin: 15px 0 -70px 0;
	text-align: center;
}

.csecopy {
	font-size: 0.6em;
	text-align: center;
}

.loginfield input {
	border: 2px groove #bbebe6;
	background-color: #f7fffc;
	color: #000;
	width: 25em;
}

.loginsubmit input {
	background-color: #1c404b;
	border-color: #25505e;
	color: #fff;
}

.segment {
	background-color: #9797d3;
	color: #fff;
}

.arc {
   background-image: url(arc.png);
   background-repeat: no-repeat;
   padding-top: 160px;
}

.cc 
{
	background-image: url(childrenscancer.png);
	background-repeat: no-repeat;
   padding-top: 160px;
}

.medsoc 
{
	background-image: url(medsoc.png);
   background-repeat: no-repeat;
   padding-top: 160px;
}

.rege
{
	background-image: url(regenthotel.png);
   background-repeat: no-repeat;
   padding-top: 160px;
}

.sta
{
	background-image: url(statravel.png);
   background-repeat: no-repeat;
   padding-top: 160px;
}

.tourm
{
	background-image: url(tourismmalaysia.png);
   background-repeat: no-repeat;
   padding-top: 160px;
}

.unsw
{
	background-image: url(unsw.png);
   background-repeat: no-repeat;
   padding-top: 160px;
}
