/* The CSS file for CSE Revue 2009 */

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

body {
	background-color: #1DC06F;
	color: #000;
	font-family: "Arial", serif;

}

a {
	color: #08f;
	text-decoration: none;
}

a:visited {
	color: #483D8B;
}

a:hover {
	color: #483D8B;
}

.cseheader {
	margin: 15px 0 -70px 0;
	text-align: center;
}

.csecopy {
	font-size: 0.6em;
	text-align: center;
}

.loginfield input {
	border: 2px groove #048;
	background-color: #fff;
	color: #000;
	width: 25em;
}

.loginsubmit input {
	background-color: #fff;
	border-color: #048;
	color: #000;
}

.segment {
	background-color: #024;
	color: #fff;
}

.bigbutton:hover {
	background-color: #048;
}

.priceheader {
	background-color: #012;

}
